/* =====  CSS ===== */

a {cursor:pointer;}
#suite,#city,#zipcode,#geo, #company_name, #catchPhrase,#bs{
  text-indent: 20px;
}

#lat, #lng{
  text-indent: 40px;
}

#users_table, #user_details{
  display: none;
}
